@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
input, button {
    -webkit-appearance: none;
    appearance: none;
}
ul { list-style-type: none; }
a { text-decoration: none; }

/* reset+fonts end */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.wrapper {
    height: 900px;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

@media (max-width: 900px) {
    .body {
        display: block;
    }
    .wrapper {
        min-height: 600px;
    }
}

h1 {
    padding: 10px;
}

/* cards */
.cards-wrapper {
    padding: 0.5vw;
    flex: 1;
    display: grid;
    grid-template: auto / repeat(auto-fit, clamp(200px, 80%, 300px));
    gap: 30px;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0,0,0,0.05);
    border-radius: 10px;
    overflow: auto;
}

.card {
    background-color: white;
    border-radius: 10px;
    height: 390px;
    padding: 16px;
    box-shadow: 3px 3px 6px rgb(0,0,0,0.3);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.cover-container {
    flex: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(0,0,0,0.25);
    border-radius: 10px;
}

.cover {
    width: 140px;
}

.book-title {
    font-size: 18px;
}

.book-info-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

p {
    font-size: 12px;
    color: rgb(0,0,0,0.70);
}

.card-btns-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#remove-btn {
    padding: 7px 18px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    background-color: rgb(228, 228, 228);
}

#remove-btn:hover {
    background-color: rgb(225, 141, 141);
}

.radio-container {
    display: flex;
    gap: 15px;
}

.radio-container > p {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 12px;
}

input[type='radio'] {
    width: 15px;
    height: 15px;
    border: 1px solid rgb(0,0,0,0.50);
    border-radius: 50%;
}

input[type='radio']:checked {
    background-color: black;
}

.wrapper > button {
    align-self: start;
    margin: 20px 0 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.wrapper > button:hover {
    transform: scale(1.02);
    font-weight: 600;
    background-color: #343434;
}

/* modal */
.modal-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-box {
    width: 500px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    padding: 30px;
    gap: 25px;
}

legend {
    font-size: 22px;
    font-weight: 600;
}

.control-wrapper {
    display: flex;
    flex-flow: column;
    gap: 25px;
    padding: 25px 10px;
    border: 1px solid rgb(0,0,0,0.25);
    border-left: none;
    border-right: none;
}

.control {
    display: flex;
    flex-flow: column;
    gap: 3px;
}

.control > input {
    width: 100%;
    border: none;
    background-color: rgb(0,0,0,0.1);
    height: 29px;
    padding: 5px;
    border-radius: 5px;
}

.control:last-child {
    display: flex;
    flex-flow: row;
    gap: 15px;
    align-items: center;
}

.control:last-child > p {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 15px;
    color: black;
}

.control-btn-wrapper {
    display: flex;
    gap: 25px;
    justify-content: end;
}

.control-btn-wrapper > button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.control-btn-wrapper > button:hover {
    transform: scale(1.02);
    font-weight: 600;
    background-color: #343434;
}